<footer class="main-footer bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="logo">
                    <h4>Seneca Supply Store</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="copyrights">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; 2020. All rights reserved.</p>
                </div>
                <div class="col-md-6 text-end">
                    <p>There is no affiliation with Seneca</p>
                </div>
            </div>
        </div>
    </div>
</footer>