<section class="Banners">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="women-fashion-banner">
                    <img src="assets/banner6.jpg" class="img-fluid">
                    <div>
                        <h1>WOMEN FASHION</h1>
                        <h5>UP TO 60% OFF</h5>
                        <button class="btn btn-outline-light banner-btn" routerLink="/">Buy Now</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="col-12">
                    <div class="men-fashion-banner">
                        <img src="assets/banner7.jpg" class="img-fluid">
                        <div>
                            <h1>MEN FASHION</h1>
                            <h5>UP TO 30% OFF</h5>
                            <button class="btn btn-outline-light banner-btn" routerLink="/">Buy Now</button>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-12 col-md-6 col-12 filter-buttons-container">
                    <h1>FILTER PRODUCTS</h1>
                    <div class="filter-buttons">
                        <button class="btn btn-outline-light" (click)="sendBtn1Data()" >Featured Products</button>
                        <button class="btn btn-outline-light" (click)="sendBtn2Data()" >Latest Products</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>