* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.women-fashion-banner, .men-fashion-banner {
    position: relative;
}

.women-fashion-banner > div {
    position: absolute;
    top: 25%;
    right: 40%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: left;
}

.men-fashion-banner > div {
    position: absolute;
    top: 35%;
    right: 50%;
    transform: translate(-50%,-50%);
    color: white;
    text-align: left;
}

.banner-btn {
    margin-top: 30px;
}

.filter-buttons-container {
    margin-top: 15px;
    padding: 20px;
    background: #303030;
    height: 155px;
    color: white;
    text-align: center;
}

.filter-buttons > button {
    margin: 15px;
}