


<section class="category">
    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-3">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-1.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>Men's Clothing</h6>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-3">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-2.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>Women's Clothing</h6>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-3">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-3.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>Kid's Clothing</h6>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-3">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-4.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>Kitchen Appliances</h6>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-2">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-5.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>PlayStation & Xbox</h6>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-2">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-6.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>Laptop & Pc</h6>
        </div>
        <div class="col-lg-3 text-center">
            <div class="card border-0 bg-light mt-2 mb-2">
                <a routerLink="/">
                    <div class="card-body">
                        <img src="../../assets/cat-7.png" class="img-fluid" alt="">
                    </div>
                </a>

            </div>
            <h6>Men's & Women's Shoes</h6>
        </div>
        <div class="col-lg-3 text-center">
            <a routerLink="/">
                <div class="card border-0 bg-light mt-2 mb-2">
                    <div class="card-body">
                        <img src="../../assets/cat-8.png" class="img-fluid" alt="">
                    </div>
                </div>
            </a>

            <h6>Watches</h6>
        </div>
    </div>

</section>