<div class="seller-dash">
    <div class="container">
        <h1 class="sectionHeading">Seller Dashboard</h1>
        <div class="profileHeader">
            <div class="detailSection">
                <h2>Name: <p class="detailText"></p></h2>
                <h2>Email: <p class="detailText"></p></h2>
                <h2>Username: <p class="detailText"></p></h2>
                <h2>Phone Number: <p class="detailText"></p></h2>
                <h2>Account Type: <p class="detailText"></p></h2>
            </div>
        </div>
        <button class="btn btn-outline-secondary me-2"><a routerLink="/seller/add" routerLinkActive="active" class="nav-link">Add Product</a></button>
    </div>
</div>