<div class="container">
    <h1 class="sectionHeading">Dashboard</h1>
    <div class="sellerHeader">
        <div class="headerDetails">
            <h2>Add Product</h2>
            <button class="btn btn-warning me-2">
                <a routerLink="/seller/add" routerLinkActive="active" class="nav-link">
                    Open Form
                </a>
            </button>
        </div>
    </div>

    <h1 class="sectionHeading">Added Products</h1>
    <div class="sellerHeader">
        <h2>List of products...</h2>
    </div>

    <h1 class="sectionHeading">Analytics</h1>
    <div class="sellerHeader">
        <h2>Charts & general analytics per product the seller has added...</h2>
    </div>
</div>