.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}

.sectionHeading {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 56px;
}

.sellerHeader {
    background-color: #303030;
    color: white;
    height: auto;
    /* min-height: 400px; */
    margin: 1%;
    padding: 1%;
}

.headerDetails {
    display: flex;
    justify-content: space-between;
}

.btn {
    max-height: 50px;
}