<div class="container">
    <h1 class="sectionHeading">Dashboard</h1>
    <div class="sellerHeader">
        <div class="headerDetails">
            <h2>Add Product</h2>
            <button class="btn btn-warning me-2">
                <a routerLink="/seller/add" routerLinkActive="active" class="nav-link">
                    Open Form
                </a>
            </button>
        </div>
    </div>

    <h1 class="sectionHeading">Added Products</h1>
    <div class="sellerHeader">
        <div class="shoppingPrice" *ngIf="sellerProducts.length === 0">
            <h4>You Do Not Currently Have Product Added...</h4>
        </div>
        <div class="headerDetails" *ngFor="let product of sellerProducts; let i = index">
            <div class="col-md-3">
                <a routerLink="/product/{{product.id}}" routerLinkActive="active" class="nav-link">
                    <img [src]="product.image" class="img-fluid" height="150" width="150" />
                </a>
            </div>
            <div class="col-md-8">
                <h4 class="card-title">{{product.title}}</h4>
                <p><b>Rating:</b> {{product.rating.rate}}</p>
                <p class="price">${{product.price}}</p>
            </div>
            <button class="btn btn-danger" (click)="removeProduct(product.id)">
                Remove
            </button>
            <hr class="divider">
        </div>
    </div>

    <h1 class="sectionHeading">Analytics</h1>
    <div class="sellerHeader">
        <div class="shoppingPrice" *ngIf="sellerProducts.length === 0">
            <h4>You Do Not Currently Have Product Analytics...</h4>
        </div>
        <div class="row" *ngFor="let product of sellerProducts; let i = index">
            <div class="col-md-3">
                <img [src]="product.image" class="img-fluid" height="150" width="150" />
            </div>
            <div class="col-md-7">
                <h4 class="card-title">{{product.title}}</h4>
                <p class="price">Total Views: {{product.views}}</p>
                <p class="price">Total Times Added To Cart: {{product.addedToCart}}</p>
            </div>
            <hr class="divider">
        </div>
    </div>
</div>