<section class="product" *ngIf="product">
    <div class="container ">
        <div class="row padding">
            <div class="col-lg-3 mx-auto">
                <img class="image" [src]="product.image">
            </div>
            <div class="col-lg-6 mx-auto">
                <h2>{{product.title}}</h2>
                <p>rating: {{product.rating.rate}} reviews: {{product.rating.count}}</p>
                <p>${{product.price}}</p>

                <button class="btn btn-warning" style="width:100%">Add to Cart</button>
                <br>
                <button class="btn btn-primary MarginTop" style="width:100%" (click)="onClick()" *ngIf="!wished">Add to WishList</button>
                <button class="btn btn-primary MarginTop" style="width:100%" (click)="onClick()" *ngIf="wished">Remove from WishList</button>
            </div>
        </div>

        <div class="row padding">
            <div class="col-lg-10 mx-auto">
                <h2>Description</h2>
                <section>{{product.description}}</section>
            </div>
            
        </div>

    </div>

    <app-product-review [reviews]="product.reviews" [id]="id"></app-product-review>

</section>