<div class="productPage">
    <div class="productPage__Menu">
        <div class="categories ms-3 mt-5 mb-5">
            <button type="button" (click)="showAllProducts()" class="btn btn-outline-secondary me-2">
                All Products
            </button>
            <button type="button" (click)="showLatestProducts()"  class="btn btn-outline-secondary me-2">
                Latest Products
            </button>
            <button type="button" (click)="showFeaturedProducts()" class="btn btn-outline-secondary me-2">
                Featured Products
            </button>
        </div>
    </div>

    <div class="productPage__Body">

    </div>

</div>
