.container {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-height: 100vh;
}

.profileHeader, .profileBody, .addressSection {
    background-color: #303030;
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    height: auto;
    min-height: 400px;
    margin: 1%;
    padding: 1%;
    /* border: 3px solid #cccccc; */
}

.imageSection {
    display: flex;
    margin: 1%;
}

.userImage {
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 3px solid #cccccc;
}

.detailSection {
    margin: auto 5%;
    display: inline;
}

.detailText {
    color: rgb(184, 184, 184);
    display: inline;
}

.sectionHeading {
    display: flex;
    justify-content: center;
    margin: 30px;
    font-size: 56px;
}

.profileBody {
    display: flex;
    justify-content: center;
}

.addressSection {
    display: block;
}

.addressDetails {
    display: inline;
}

.noLikes {
    margin: auto auto;
    color: rgb(184, 184, 184);
}