<div class="">
    <div class="ShoppingCart">



        <h2>Welcome to your Shopping Cart</h2>

        <div class="body">
            <div class="ShoppingCart__Body">
                <div class="ShoppingCart__Body__Product" *ngFor="let product of products; let i = index">
    
                    <div class="product">
                        <div class="">
                            <img [src]="product.product.image" class="img-fluid" height="150" width="150" />
                        </div>
                        <div class="">
                            <h5 class="">{{product.product.title}}</h5>
                            <p>rating: {{product.product.rating.rate}} reviews: {{product.product.rating.count}}</p>
                            <p>${{product.product.price}}</p>
                        </div>
                        <div class="">
                            <button (click)="onRemove(i)">-</button>{{product.count}}<button (click)="onAdd(i)">+</button>
                        </div>
                    </div>
    
                </div>
    
    
            </div>
            <div class="ShoppingCart__Body__Price">
                <p>Product Price: ${{price}} </p>
                <p>Taxes: ${{tax}}</p>
                <p>Total amount: ${{total}}</p>
                <button>Proceed to Payment</button>
            </div>
    
        </div>



    </div>



</div>