

.sectionHeading {
    font-size: 56px;
    margin: 30px 0;
    text-align: center;
}

.shoppingHeader {
    background-color: #303030;
    color: white;
    height: auto;
    padding: 1%;
    margin-bottom: 20px;
}

.noProducts {
    text-align: center;
    padding: 20px;
}

.divider {
    margin: 20px 0;
}

.price {
    font-size: 24px;
}

.shoppingPrice {
    width:100%;
    padding: 25px;
}