<div class="container">
    <div class="row">
        <h1 class="sectionHeading">Shopping Cart</h1>

        <div class="col-md-8 shoppingHeader">
            <div class="noProducts" *ngIf="products.length == 0">
                <h4>
                    <i>
                        You do not have any items in this cart...
                    </i>
                </h4>
                <button class="btn btn-warning me-2">
                    <a routerLink="/products" routerLinkActive="active" class="nav-link">
                        Start Shopping
                    </a>
                </button>
            </div>
            <div class="row" *ngFor="let product of products; let i = index">
                <div class="col-md-3">
                    <img [src]="product.product.image" class="img-fluid" height="150" width="150" />
                </div>
                <div class="col-md-7">
                    <h4 class="card-title">{{product.product.title}}</h4>
                    <p><b>Rating:</b> {{product.product.rating.rate}}</p>
                    <p class="price">${{product.product.price}}</p>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-warning me-2" (click)="onRemove(i)">-</button>
                    {{product.count}}
                    <button class="btn btn-warning me-2" (click)="onAdd(i)">+</button>
                </div>
                <hr class="divider">
            </div>
        </div>

        <div class="col-md-4">
            <div class="shoppingPrice" *ngIf="products.length > 0">
                <p>Product Price: ${{price}} </p>
                <p>Taxes: ${{tax}}</p>
                <p>Total amount: ${{total}}</p>
                <button class="btn btn-warning me-2">Pay Now</button>
            </div>
        </div>
    </div>
</div>