h2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.product{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px;
}


.ShoppingCart__Body__Price
{
    padding: 30px;
}



