/* You can add global styles to this file, and also import other style files */

.padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.MarginTop {
    margin-top: 10px;
}

.cardBack {
    background-color: rgba(158, 158, 158, 0.5)
}