<div *ngIf="products.length != 0">
    <section class="featured products" >
        
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-10 mx-auto"> 
                    <h2>Featured Items</h2>
                    <app-carousel [products]="featured"></app-carousel>
                </div>
            </div>
        </div>

    </section>
    <section class="recent products">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-10 mx-auto"> 
                    <h2>Recent products</h2>
                    <app-product-card *ngFor="let product of recent" [product]="product"></app-product-card>
                    <app-paging></app-paging>
                </div>
            </div>
        </div>
    </section>
</div>