<div>
    <section class="featured products">
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-10 mx-auto"> 
                    <h2>Featured Items</h2>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row d-flex align-items-stretch">
                <div class="col-lg-10 mx-auto"> 
                    <app-carousel [products]="featured"></app-carousel>
                </div>
            </div>
        </div>
    </section>
</div>