* {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.Featured, .Trending {
  border: 3px solid #cccccc;
  margin-left: 57px;
  margin-right: 69px;
  margin-top: 15px;
}

.card {
    margin: 40px 300px;
}

.Banners{
  margin-top:1%;
  margin-left: 3%;
  margin-right: 3%;
}

#pagination{
  background-color: black;
}

#recent-product-title {
  text-align: center;
  margin: 30px;
  color:#000000;
  font-size: 56px;
}

.breaker {
  margin: 0 auto;
  width: 75%;
}

.pagination-control
{
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 17%;
  font-size: larger;
  font-weight: 500;
  
}


.category-cards{
  margin-top: 10%;
  margin-bottom: 10%;
  
}

.category-cards h2{
  text-align: center;
  padding-bottom: 10%;
}






  