<div *ngIf="products.length != 0">
    <section class="Banners" >
        
        <app-carousel (message)="recieveData($event)"></app-carousel>

    </section>

    <section class=".product-section">
        <div *ngIf="this.showProduct; else elseBlock">

            <div class="Trending">
                <h2 id="recent-product-title">Latest Products</h2>
                <hr class="breaker"/>
                <div class="card" *ngFor="let prod of recent | paginate:{itemsPerPage: this.itemsPerPage,currentPage:p,totalItems:this.totalProduct}">
                    <app-product-card [product]="prod"></app-product-card>
                </div>
            </div>


            
        </div>

        <div>
            <ng-template #elseBlock>
                <div class="Featured">
                    <h2 id="recent-product-title">Featured Products</h2>
                    <hr class="breaker"/>
                    <div class="card" *ngFor="let prod of products | paginate:{itemsPerPage: this.itemsPerPage,currentPage:p,totalItems:this.products.length}">
                        <app-product-card [product]="prod"></app-product-card>
                    </div>
                </div>
            </ng-template>





            <div class="pagination-control">
                <style>
                    .pagination-control ::ng-deep .ngx-pagination .current {
                        background: #FCE700;
                    }
                </style>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>

        

    </section>

    <section class="category-cards">
        <div class="container">
            <h2>Our Product Category</h2>
            <app-category></app-category>
        </div>
    </section>

</div>