<section class="page-header">
   <div class="overly"></div>
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-lg-6">
            <div class="content text-center">
               <h1 class="mb-3 p-5">Checkout</h1>
            </div>
         </div>
      </div>
   </div>
</section>
<div class="page-wrapper">
   <div class="checkout shopping">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 pr-5">

               <div class="billing-details mt-0 bg-light p-4">
                  <h4 class="mb-4">Shipping Details</h4>
                  <form class="checkout-form">
                     <div class="row">
                        <div class="col-lg-6">
                           <div class="form-group mb-4">
                              <label for="first_name">First Name</label>
                              <input type="text" class="form-control" id="first_name" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-6">
                           <div class="form-group mb-4">
                              <label for="last_name">Last Name</label>
                              <input type="text" class="form-control" id="last_name" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="company_name">Country</label>
                              <select class="form-control">
                                 <option value="">Select a Country</option>
                                 <option value="January">Canada</option>
                                 <option value="January">USA</option>
                                 <option value="January">Mexico</option>
                              </select>
                           </div>
                        </div>

                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Street Address</label>
                              <input type="text" class="form-control" id="street" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Apartment, suite, unit etc. (optional)</label>
                              <input type="text" class="form-control" id="apartment" placeholder="Apartment">
                           </div>
                        </div>

                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Town / City </label>
                              <input type="text" class="form-control" id="city" placeholder="Apartment">
                           </div>
                        </div>


                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Postcode / ZIP (optional)</label>
                              <input type="text" class="form-control" id="postcode" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Phone </label>
                              <input type="text" class="form-control" id="phone" placeholder="">
                           </div>
                        </div>
                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Email address </label>
                              <input type="text" class="form-control" id="email" placeholder="">
                           </div>
                        </div>

                        <div class="col-lg-12">
                           <div class="form-group mb-4">
                              <label for="first_name">Order notes (optional)</label>
                              <textarea class="form-control" id="msg" cols="30" rows="5"
                                 placeholder="Notes about order e:g: want to say something"></textarea>
                           </div>
                        </div>
                     </div>
                  </form>
               </div>
            </div>

            <!-- Order sidebar Summery -->

            <div class="col-lg-4">

               <div class="card text-white">
                  <div class="card-body">

                     <!-- <div class="d-flex justify-content-between">
                        <p class="mb-2 h3">Price</p>
                        <p class="mb-2 h3">${{Price.toFixed(2)}}</p>
                     </div>
                     <div class="d-flex justify-content-between">
                        <p class="mb-2 h3">Tax</p>
                        <p class="mb-2 h3">${{(Price * 0.13).toFixed(2)}}</p>
                     </div>

                     <hr class="my-4"> -->

                     <div class="d-flex justify-content-between">
                        <p class="mb-2 h3">Total</p>
                        <p class="mb-2 h3">${{Price.toFixed(2)}}</p>
                     </div>

                     <div class="paynow">
                        <button type="button" class="btn btn-lg btn-warning" (click)="placeOrder()">
                           Pay Now
                        </button>
                     </div>
                     <!-- <button type="button" (click)="cancelBtn()" class="btn btn-lg m-4 btn-danger">Cancel Order</button> -->


                  </div>
               </div>




            </div>

            



         </div>
      </div>
   </div>
</div>