<div class="container">

    <div class="Search-Box">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-6">
                <div class="form">
                    <i class="fa fa-search" (click)="onClickSearchIcon()"></i>
                    <input type="text" class="form-control form-input" [(ngModel)]="searchValue" name="SearchValue"
                        placeholder="search products" (keyup)="onClickSearchIcon()">
                    <i class="fa-sharp fa-solid fa-circle-xmark" (click)="onClickClearIcon()"></i>
                </div>

                <div class="categories ms-3 mt-5 mb-5">
                    <div class="category__1">
                        <button type="button" (click)="categoryClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Mens Collection
                        </button>
                        <button type="button" (click)="categoryClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Womens Collection
                        </button>
                        <button type="button" (click)="categoryClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Electronics
                        </button>
                        <button type="button" (click)="categoryClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Jewelery
                        </button>
                    </div>

                    <div class="category__2">
                        <button type="button" value="PlowHigh" (click)="sortingByClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Price Low-High
                        </button>
                        <button type="button" value="PhighLow" (click)="sortingByClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Price High-Low
                        </button>
                        <button type="button" value="RlowHigh" (click)="sortingByClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Ratings Low-High
                        </button>
                        <button type="button" value="RhighLow" (click)="sortingByClicked($event)" class="btn btn-outline-secondary me-2" placement="top">
                            Ratings High-Low
                        </button>
                    </div>

                </div>

                <h1 class="error" *ngIf="showNotFound" >Sorry no products found</h1>

            </div>
        </div>
    </div>
    <div *ngIf="showResult" class="search-result">
        <div class="card" *ngFor="let prod of foundProducts">
            <app-product-card [product]="prod"></app-product-card>
        </div>
    </div>

    <div *ngIf="showCategoryResult" class="category-result">
        <div class="card" *ngFor="let prod of foundProducts">
            <app-product-card [product]="prod"></app-product-card>
        </div>
    </div>



</div>